@import url('https://fonts.googleapis.com/css2?family=Knewave&family=Nunito:wght@400;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: Nunito, sans-serif;
}

.table {
  border: solid;
  width: 100%;
  border-color: rgb(50, 49, 49);
}

.table-header {
  background-color: rgb(103, 100, 100);
  width: 100%;
  height: 80px;
}

.tableTh {
  width: 30%;
  font-size: 12px;
}

.textTh {
  font-size: 15px;
}

.tableTr {
  margin-top: 300px;
}

.wrap-table {
  position: relative;
  bottom: 80px;
  width: 90%;
  background-color: rgb(125, 121, 121);
  border-radius: 10px;
  overflow: hidden;
  padding: 77px 55px 33px 55px;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
}

.btn-editar {
  background-color:rgb(255, 153, 0);
  border-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  font-family: Nunito, sans-serif
}

.btn-excluir {
  background-color:rgb(255, 0, 0);
  border-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  font-family: Nunito, sans-serif
}

.btn-add {
  position: relative;
  float: right;
  right: 10px;
  bottom:55px;
  background-color:rgb(0, 222, 0);
  border-color: rgba(0, 222, 0);
  border-radius: 5px;
  height: 30px;
  width: 60px;
  font-family: Nunito, sans-serif;
}

.textTitle {
  color: white;
  bottom: 200px;
  margin-left: 5px;
}

.login-table-title {
  font-family: Nunito, sans-serif;
  position: relative;
  display: block;
  font-size: 30px;
  color: azure;
  line-height: 1.2;
  text-align: left;
  margin-bottom: 30px;
  top: 20px;
}
th {
  color:azure;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.container-login {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 15px;
  background-color: azure;
}

.wrap-login {
  width: 390px;
  background-color: #333;
  border-radius: 10px;
  overflow: hidden;
  padding: 77px 55px 33px 55px;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
}

.login-form {
  width: 100%;
}

.login-form-title {
  font-family: Nunito, sans-serif;
  display: block;
  font-size: 30px;
  color: azure;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 30px;
}

.login-form-title img {
  width: 90px;
}

.wrap-input {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #adadad;
  margin-bottom: 37px;
}

.input {
  font-size: 15px;
  color: #fff;
  line-height: 1.2;
  border: none;
  display: block;
  width: 100%;
  height: 45px;
  background-color: transparent;
  padding: 0 5px;
  font-family: Nunito, sans-serif;
}

.focus-input {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  color: #adadad;
  font-family: Nunito, sans-serif;
}

.focus-input::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  background: #6a7dfe;
  background: -webkit-linear-gradient(to left, #21d4fd, #b721ff);
  background: -o-linear-gradient(to left, #21d4fd, #b721ff);
  background: -moz-linear-gradient(to left, #21d4fd, #b721ff);
  background: linear-gradient(to left, #21d4fd, #b721ff);
}

.focus-input::after {
  font-family: Nunito, sans-serif;
  font-size: 15px;
  color: #999999;
  line-height: 1.2;
  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 16px;
  left: 0px;
  padding-left: 5px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input:focus {
  outline: 0;
}

.input:focus+.focus-input::after {
  top: -15px;
}

.input:focus+.focus-input::before {
  width: 100%;
}

.has-val+.focus-input::after {
  top: -15px;
}

.has-val+.focus-input::before {
  width: 100%;
}

.container-login-form-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 13px;
}

.login-form-btn {
  font-size: 15px;
  border: none;
  border-radius: 10px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background: #6a7dfe;
  background: -webkit-linear-gradient(to left, #21d4fd, #b721ff);
  background: -o-linear-gradient(to left, #21d4fd, #b721ff);
  background: -moz-linear-gradient(to left, #21d4fd, #b721ff);
  background: linear-gradient(to left, #21d4fd, #b721ff);
}

.login-form-btn:hover {
  cursor: pointer;
}

.text-center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.txt1 {
  font-size: 14px;
  color: #adadad;
  line-height: 1.5;
  padding-right: 5px;
}

.txt2 {
  font-size: 14px;
  color: #6a7dfe;
  line-height: 1.5;
  text-decoration: none;
}

.modal-title {
  position: relative;
  margin-left: 30px;
  text-align: center;
  color: #fff;
  top:12px;
}

.text {
  color: rgb(32, 32, 32);
}

.option {
  color: #999999;
}

.cadastro-format-descricao {
  width: 500px;
  position: relative;
  margin-left: 50%;
  top: -15%;
}

.cadastro-format-peso {
  width: 160px;
  position: relative;
  margin-left: 80%;
  bottom: -50%;
}

.modalTest {
  background-color: rgb(50, 50, 50)
}

.titleModal {
  height: 70px;
  background-color: rgb(42, 41, 41);
}


.button {
  position: relative;
  width: 160px;
}